<header class="navbar navbar-expand flex-column flex-md-row bd-navbar bg-dark border-dark">
	<div class="row collapse navbar-collapse">
		<div class="col-lg-3 d-xl-inline d-lg-inline d-md-none d-sm-none">
	        <h5 class="title">TaskManager</h5>
		</div>
		<div class="col-md-3 d-xl-none d-lg-none d-md-inline d-sm-inline">
	        <h5 class="title">TaskManager</h5>
		</div>

		<div class="offset-lg-7 d-xl-inline d-lg-inline d-md-none d-sm-none">
			<a [routerLink]="" (click) = "open()" class="navbar-brand text-light" data-toggle="modal" role="button">
                <i class="material-icons">add</i>
            </a>
            <a [routerLink]="" class="navbar-brand text-light" role="button">
                <i class="material-icons">history</i>
            </a>
		</div>
		<div class="offset-md-6 d-xl-none d-lg-none d-md-inline d-sm-inline">
			<a [routerLink]="" (click) = "open()" class="navbar-brand text-light" data-toggle="modal" role="button">
                <i class="material-icons">add</i>
            </a>
            <a [routerLink]="" class="navbar-brand text-light" role="button">
                <i class="material-icons">history</i>
            </a>
		</div>
	</div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3 fucked">
			<h3 class="text-danger text-center" style="font-weight:bold; text-align:center;">Fucked</h3>
			<ng-template appFucked></ng-template>
        </div>
        <div class="col-md-3 dang3r">
			<h3 class="text-warning text-center" style="font-weight:bold; text-align:center;">Danger</h3>
			<ng-template appDanger></ng-template>
        </div>
        <div class="col-md-3 theresTime">
			<h3 class="text-info text-center" style="font-weight:bold; text-align:center;">There's Time</h3>
			<ng-template appTheresTime></ng-template>
        </div>
        <div class="col-md-3 ggEasy">
			<h3 class="text-success text-center" style="font-weight:bold; text-align:center;">GG Easy</h3>
			<ng-template appGgEasy></ng-template>
        </div>
    </div>
</div>
