<header class="navbar navbar-expand-lg bg-dark border-dark">
	<div class="collapse navbar-collapse">
        <h5 class="title">TaskManager</h5>
		<div class="offset-md-9 d-flex justify-content-end">
			<a [routerLink]="" (click) = "showNewTask()" class="navbar-brand text-light" role="button">
                <i class="material-icons">add</i>
            </a>
            <a href="#" class="navbar-brand text-light" role="button">
                <i class="material-icons">history</i>
            </a>
		</div>
	</div>
</header>
<div class="container">
    <div class="row">
        <div *ngIf="newTask" class="col-md-4 offset-md-4"style="margin-top: 2%; margin-bottom:2%;">
            <div class="card border-dark">
                <div class="card-body text-dark">
                    <input type="text" class="form-control" placeholder="Task Name..." style="margin-bottom: 2%;"/>
                    <textarea class="form-control" placeholder="Task Description..." rows="3"></textarea>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group" style="margin-top:4%;">
                                <label for="taskType" style="font-weight:bold;">Task Type</label>
                                <select class="form-control" id="taskType">
                                    <option>Fucked</option>
                                    <option>Danger</option>
                                    <option>There's Time</option>
                                    <option>GG easy</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="btn btn-outline-dark" role="button" style="margin-top:67%;">
                                <i class="material-icons card-icon">done</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 fucked">
            <div class="card border-danger">
                <div class="card-body text-danger">
                    <h6 class = "card-title">Task 1</h6>
                    <p class=card-text>This is some text within a card body.</p>
                    <a href="#" class="btn btn-outline-dark actions" role="button">
                        <i class="material-icons card-icon">edit</i>
                    </a>
                    <a href="#" class="btn btn-outline-dark actions" role="button">
                        <i class="material-icons card-icon">close</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 dang3r">
            <div class="card border-warning">
                <div class="card-body text-warning">
                    <h6 class = "card-title">Task 2</h6>
                    <p class=card-text>This is some text within a card body.</p>
                    <a href="#" class="btn btn-outline-dark actions" role="button">
                        <i class="material-icons card-icon">edit</i>
                    </a>
                    <a href="#" class="btn btn-outline-dark actions" role="button">
                        <i class="material-icons card-icon">close</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 theresTime">
            <div class="card border-info">
                <div class="card-body text-info">
                    <h6 class = "card-title">Task 3</h6>
                    <p class=card-text>This is some text within a card body.</p>
                    <a href="#" class="btn btn-outline-dark actions" role="button">
                        <i class="material-icons card-icon">edit</i>
                    </a>
                    <a href="#" class="btn btn-outline-dark actions" role="button">
                        <i class="material-icons card-icon">close</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ggEasy">
            <div class="card border-success">
                <div class="card-body text-success">
                    <h6 class = "card-title">Task 4</h6>
                    <p class=card-text>This is some text within a card body.</p>
                    <a href="#" class="btn btn-outline-dark actions" role="button">
                        <i class="material-icons card-icon">edit</i>
                    </a>
                    <a href="#" class="btn btn-outline-dark actions" role="button">
                        <i class="material-icons card-icon">close</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
